{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Mapa</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Localização Atual</h1>
    <div id="map"></div>
    <script>


        function initMap() {

            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;

                // Converter coordenadas geográficas em UTM
                var utmCoords = utm.fromLatLon(lat, lng);

                // Exibir as coordenadas UTM no HTML
                document.getElementById('latitude').textContent = utmCoords.northing.toFixed(2);
                document.getElementById('longitude').textContent = utmCoords.easting.toFixed(2);

                // Criar mapa usando as coordenadas geográficas
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: lat, lng: lng },
                    zoom: 16
                });

                // Marcar a localização no mapa
                var marker = new google.maps.Marker({
                    position: { lat: lat, lng: lng },
                    map: map
                });
            });
        }









    </script>




<h2>Coordenadas UTM:</h2>
<p>Northing: <span id="latitude"></span></p>
<p>Easting: <span id="longitude"></span></p>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/utm/0.6.0/utm.min.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeXJrNQbsPKBQmxGptJ-wgveq_E5PBefE&callback=initMap"
        async defer></script>
    <script src="{% static 'js/mapa.js' %}"></script>
</body>

</html>