{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Mapa</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Localização Atual</h1>
    <div id="map"></div>

    <h2>Coordenadas UTM:</h2>
    <p>Northing: <span id="latitude"></span></p>
    <p>Easting: <span id="longitude"></span></p>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeXJrNQbsPKBQmxGptJ-wgveq_E5PBefE&callback=initMap"
        async defer></script>
    <script src="{% static 'js/mapa.js' %}"></script>
</body>

</html>